${jsonencode({
    "Version": "2012-10-17",
    "Statement": [
      {
        "Action": [
          "S3:*"
        ],
        "Effect": "Allow",
        "Resource": [for s3 in s3_resources : "${s3}"]
      }
    ]
  }
)}

